

.colorw{
    color:#ffffff;
}
.gift-box
{
    border-radius: 6px;
    height: 100%;
    
    .gift-head
    {
        border-bottom: 2px solid #000;
        padding: 15px;
        position: relative;
        border-radius: 6px 6px 0px 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        
        .close-icon
        {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            
            button
            {
                padding: 0px;
                min-width: 0px;
                height: 22px;
                line-height: 22px;
                
                span
                {
                    i
                    {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    .trans
    {
        background: var(--white);
        border-radius: 0px 0px 6px 6px;
        padding: 0px 15px 15px;
        
        .form-area
        {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            max-height: 90vh;
            
            .slect
            {
                &.none-bo
                {
                    border: solid 1px rgba(0, 0, 0, 0.3);
                    padding: 0px 11px;
                    border-radius: 0;
                    height: 45px;
                    background: var(--white);
                    width: 100%;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    
    &.product-img
    {
        position: relative;
        border: 5px solid var(--white);
        
        .form-area
        {
            height: 100%;
            
            img
            {
                height: 100%;
                
                
                
            }
        }
        
        button
        {
            position: absolute;
            top: -28px;
            right: -29px;
            background: #ff0000;
            color: var(--white);
            border-radius: 100px;
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            
            span
            {
                line-height: 28px;
                margin-left: -2px;
                
                i
                {
                    color: var(--white);
                    font-size: 18px;
                    margin-left: 3px;
                    
                }
            }
        }
    }
    
    .mat-dialog-container
    {
        transform: none;
        overflow: hidden !important;
        max-width: 141vh !important;
    }
}