<div class="gift-box">
  <div class="gift-heading">
      <div class="export-count">
          <p>{{loading ? 'Please Wait...' : 'Import Only .PDF File'}}</p>
      </div>
      
      <div class="close-icon colorw">
          <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
      </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>
  
  <div class="modal-body pt0">
      <div class="row mb0">
          <div class="col s12">
              <div class="option-field">
                  <div class="control-field pl">
                      <div class="control-field">
                        <mat-form-field class="cs-input">
                           <input matInput placeholder="Enter Catalogue Name"  #cat_name="ngModel"  [(ngModel)]="category.cat_name" name="cat_name" required>
                        </mat-form-field>  
                      </div>
                  </div>

              </div>
          </div>
          
          <div class="col s12">
              <div class="file-import">
                  <div class="border-erea file-border">
                      <label>
                          <form name="couponForm" #f="ngForm" novalidate autocomplete="off">
                              <input type="file" placeholder="{{file_name}}" name="" (change)="onUploadChange1($event,f)"  accept=".pdf" (click)="$event.target.value=null" style="display: none;">
                          </form>
                          <i class="material-icons">backup</i>
                          <h4 *ngIf="file_name == null || file_name == ''" >Upload .PDF File</h4>
                          <h4 *ngIf="file_name != null " >{{file_name}}</h4>
                      </label>
                  </div>
              </div>
          </div>
      </div>
      
      <div mat-dialog-actions >
          <button style="color: white;" mat-raised-button (click)="uploadBonus()" [disabled]="!category.cat_name || !istrue" accept=".pdf"color="primary">Upload</button>
      </div>
  </div>
</div>