<div class="loader" *ngIf = "loading_list">
    <div class="loding-logo">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div class="main-container">
    <div class="middle-container">
        <div class="tabs-list">
            <h1>Master</h1>
            <div class="input-field">
                <input type="text" placeholder="Search..." [(ngModel)]="filter.search"  (keyup.enter)="current_page = 1;getSalesList('')">
                <i class="material-icons">
                    search
                </i>
            </div>
        </div>
        
        <div class="refresh-btn">
            <a mat-button matTooltip="Refresh" matTooltipPosition="below" (click)="getSalesList('refresh')"><i class="material-icons">refresh</i></a>
        </div>
        <div class="top-pagination">
            <ul>
                <li><p  >Pages {{ current_page }} of {{ last_page }}</p></li>
                
                <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getSalesList('')"></li>
                <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
    </div>
    <div class="container-outer tab-container">
        <div class="master-tab">
            <ul>
                <li routerLink="/productcategory-list" routerLinkActive="active"><a>Product Category</a></li>
                <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li>
                <li routerLink="/demo-karigar-list" routerLinkActive="active"><a>Demo Karigar</a></li>
                <li routerLink="/news-list" routerLinkActive="active"><a>News</a></li>
                <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li>
                <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
                <li routerLink="/sales-executive-list" routerLinkActive="active"><a>Sales Executive</a></li>
                <li routerLink="/distributor-list" routerLinkActive="active"><a>Distributor</a></li>
                <li routerLink="/karigar-data" routerLinkActive="active"><a>Karigar Data</a></li>
                <li routerLink="/daily-coupon-access" routerLinkActive="active"><a>Daily Coupon Access</a></li>
                <li routerLink="/company-profile" routerLinkActive="active"><a>Company Profile</a></li>
                <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
                <li routerLink="/message-history" routerLinkActive="active"><a>Message History</a></li>
                <li routerLink="/notification-history" routerLinkActive="active"><a>Notification History</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="css-table left-right-15">
                <div class="sticky-header">
                    <div class="header">
                        <table >
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w100">Name</th>
                                <th class="w80">Mobile No.</th>
                                <th class="w150">Email</th>
                                <th class="w150">Date / Created by</th>
                                <th class="w250 padding0">
                                    <table class="inner-table">
                                        <tr >
                                            <th class="w250" style="border-bottom: solid 1px #D2D2D2;">Karigar</th>
                                        </tr>
                                    </table>
                                </th>
                                <th class="w40 text-center">Status</th>
                                <th class="w60">Action</th>
                                
                            </tr>
                            
                        </table>
                    </div>
                    <div class="header border-bott">
                        <table>
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w100">
                                    <div class="search-form">
                                        <input type="text" placeholder="Name" [(ngModel)]="filter.first_name"  (keyup.enter)="current_page = 1;getSalesList('')">
                                        <i class="material-icons">search</i>
                                    </div>
                                </th> 
                                <th class="w80">
                                    <div class="search-form">
                                        <input type="text" placeholder="Mobile" [(ngModel)]="filter.mobile"  (keyup.enter)="current_page = 1;getSalesList('')">
                                        <i class="material-icons">search</i>
                                    </div>
                                </th>  
                                <th class="w150">
                                    <div class="search-form">
                                        <input type="text" placeholder="Email" [(ngModel)]="filter.email"  (keyup.enter)="current_page = 1;getSalesList('')">
                                        <i class="material-icons">search</i>
                                    </div>
                                </th> 
                                
                                <th class="w150">
                                    
                                </th>
                                <th class="w250 padding0">
                                    <table class="inner-table">
                                        <tr>
                                            <th class="w50 text-center">Pending</th>
                                            <th class="w50 text-center">Verified</th>
                                            <th class="w50 text-center">Reject</th>
                                            <th class="w50 text-center">Suspect</th>
                                            <th class="w50 text-center"><b>Total</b></th>
                                        </tr>
                                    </table>
                                </th>
                                <th class="w40"></th>
                                <th class="w60"></th>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="table-container">
                    <div class="table-body">
                        <table>
                            <tr class="arject" *ngFor="let val of sales; let i = index">
                                <td class="w30">{{i + 1 }}</td>
                                <td class="w100"  (click)="toggle = !toggle; editSales(val.id,i)" style="cursor:pointer">{{val.first_name |titlecase}}</td>
                                <td class="w80">{{val.phone}}</td>
                                <td class="w150">{{val.email}}</td>
                                <td class="w150">{{val.date_created | date:'d MMM y'}} / {{val.created_name | titlecase}}</td>
                                
                                
                                <td class="w50 text-center Pending" (click)="getKarigarDetail(val.id,'PENDING',val.karigar_pending)"  style="cursor:pointer">{{val.karigar_pending}}</td>
                                
                                <td class="w50 text-center Approved" (click)="getKarigarDetail(val.id,'VERIFIED',val.karigar_verified)" style="cursor:pointer">{{val.karigar_verified}}</td>
                                
                                <td class="w50 text-center Reject" (click)="getKarigarDetail(val.id,'REJECT',val.karigar_reject)" style="cursor:pointer">{{val.karigar_reject}}</td>
                                
                                <td class="w50 text-center Suspect"  (click)="getKarigarDetail(val.id,'Suspect',val.karigar_suspect)" style="cursor:pointer">{{val.karigar_suspect}}</td>
                                
                                <td class="w50 text-center"  (click)="getKarigarDetail(val.id,'',val.karigar_total) " style="cursor:pointer"><b>{{val.karigar_total}}</b></td>
                                <td class="w40"><mat-slide-toggle [name]="'status'+i" [(ngModel)]="val.salesStatus" (change)="updateStatus(i,$event,val.id)"></mat-slide-toggle></td>
                                <td class="w60 no-padding active">
                                    <table>
                                        <tr>
                                            <td class="no-border text-center td-flex">
                                                
                                                <button class="right" (click)="toggle = !toggle; editSales(val.id,i)"><i class="material-icons">edit</i></button>
                                                <button class="cancel" (click)="deleteProduct(val.id)"><i class="material-icons">delete_sweep</i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add">
        <button mat-button class="add-btn"  (click)="toggle = !toggle; addSales()"><i class="material-icons">add</i></button>
    </div>
</div>


<div class="side-main" [ngClass] ="{'on' : toggle == true}">
    <div class="category-field" [ngClass] ="{'active' : toggle == true}">
        <form name="salesForm" (ngSubmit)="f.form.valid && saveSales(f)" #f="ngForm" novalidate autocomplete="off">
            <div class="category-hadding">
                <h2>Add Sales Executive</h2>
                <i class="material-icons" (click)="toggle = !toggle">clear</i>
            </div>
            
            <div class="add-image">
                <div class="sco-12">
                    <div class="scrol-13">
                        
                        <div class="option-field">
                            <div class="control-field">
                                <mat-form-field class="cs-input">
                                    <input matInput placeholder="Name" name="first_name" [(ngModel)] = "salesForm.first_name" #first_name="ngModel" required>
                                </mat-form-field>  
                            </div>
                        </div>
                        
                        <div class="option-field">
                            <div class="control-field">
                                <mat-form-field class="cs-input">
                                    <input matInput placeholder="Mobile" name="phone" [(ngModel)] = "salesForm.phone" #phone="ngModel"  (keypress)="numeric_Number($event)"  maxlength="10" minlength="10"  required>
                                </mat-form-field>  
                            </div>
                        </div>
                        
                        <div class="option-field">
                            <div class="control-field">
                                <mat-form-field class="cs-input">
                                    <input matInput placeholder="Email" name="email" [(ngModel)] = "salesForm.email" #email="ngModel" required>
                                </mat-form-field>  
                            </div>
                        </div>
                        
                        
                        
                        <div class="option-field">
                            <div class="control-field ">
                                <mat-form-field class="cs-input">
                                    <textarea matInput placeholder="Address " class="h115" name="address" [(ngModel)] = "salesForm.address" #address="ngModel"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="choose-one mt20" *ngIf="salesForm.reason != ''">
                            <div class="contet-text">
                                <div class="text">
                                    <h4>Reason </h4>
                                    <span>{{salesForm.deactive_date | date:'dd MMM yyyy'}} / {{salesForm.deactive_name}}</span>
                                </div>
                                <p>{{salesForm.reason}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="save btn-save mt250" [ngClass]="{loading: savingData}">
                    <button mat-button [disabled]="savingData">SAVE</button>
                </div>
                
            </div>
            
        </form>
    </div>
    <div class="side-bg" (click)="toggle = !toggle"></div>
</div>

<div class="excel-btn" (click)="exportproductCategory()" style="right: 85px;">
    <div class="image-area">
        <a>
            <img src="assets/excel.svg">
        </a>
    </div>
</div>