<div class="gift-box">
  <div class="gift-heading">
    <p>Deactive Reason</p>
    <div class="close-icon">
      <button mat-button mat-dialog-close ><i class="material-icons">clear</i></button>
    </div>
  </div>
  <div class="trans">
    <form name="offer" (ngSubmit)="f.form.valid && deactiveStatus() " #f="ngForm" novalidate autocomplete="off">
      <div class="option-field">
        <div class="control-field">
          <mat-form-field  class="cs-input">
            <textarea matInput placeholder="Description" class="h106" name="desc" [(ngModel)] = "deactive.reason" #desc="ngModel" required></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="save mt10" >
          <!-- [ngClass]="{loading: savingData}" -->
        <button mat-button class="mb0"  >SAVE</button>
        <!-- [disabled]="savingData"  -->
      </div>
    </form>
  </div>