<div class="gift-box">
    <div class="gift-heading">
        <div class="export-count">
            <p>{{loading ? 'Please Wait' : 'Send Message'}}</p>
        </div>
        
        <div class="close-icon">
            <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
        </div>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>
    
    <div class="modal-body pt0">
        <form name="msg" #f="ngForm" (ngSubmit)="f.valid && send_msg()">
            <div class="row mb0">
                <div class="col s12">
                    <div class="option-field">
                        <div class="control-field">
                            <mat-form-field  class="cs-input">
                                <textarea matInput placeholder="Message" class="h100" name="message" [(ngModel)]="form.message" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            
            <div mat-dialog-actions>
                <button mat-raised-button color="primary" [disabled]="loading">Send</button>
            </div>
        </form>
    </div>
    
</div>