<div class="gift-box">
  <div class="gift-heading">
    <p>{{offer.payment_type== 'gift' ? 'Shipped' : 'Point Transfer'}}  Detail</p>
    <div class="close-icon">
      <button mat-button mat-dialog-close ><i class="material-icons">clear</i></button>
    </div>
  </div>
  
  <div class="trans pt15">   
    <form name="offer" (ngSubmit)="f.form.valid && submit(f) " #f="ngForm" novalidate autocomplete="off">
      <div class="option-field" *ngIf="offer.payment_type == 'gift'">
        <div class="control-field">
          <mat-form-field class="cs-input">
            <!-- <mat-label></mat-label> -->
            <mat-select placeholder="Shipped Type"  [(ngModel)] = "offer.shipped_type" #shipped_type="ngModel" name="shipped_type" required>
              <mat-option value ="Courier" >Courier</mat-option>
              <mat-option value ="Hand Picked" >Hand Picked</mat-option>
              <mat-option value ="Ship To Store" >Ship to Store</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
       <div class="option-field"  *ngIf="offer.payment_type == 'Cash'">
        <div class="control-field">
          <mat-form-field  class="cs-input">
            <input matInput placeholder="Points Request Type" name="payment_type" [(ngModel)] = "offer.payment_type" #payment_type="ngModel" readonly>
          </mat-form-field>
        </div>
      </div>

      <div class="option-field"  >
        <div class="control-field">
            <mat-form-field class="cs-input">
                <input placeholder="{{offer.payment_type== 'gift' ? 'Estimate Delivery' : 'Transfer'}} Date"  class="h46" [(ngModel)]="offer.estimated_date" (click)="openDatePicker(picker)" [min]="date1" name="estimated_date" matInput  [matDatepicker]="picker" required >
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>  

          <!-- <mat-form-field  class="cs-input">
            <input matInput placeholder="Estimate Delivery Time" name="estimated_date" [(ngModel)] = "offer.estimated_date" #estimated_date="ngModel" >
          </mat-form-field> -->
        </div>
      </div>
      
      <div class="option-field mt15"  >
        <div class="control-field">
          <app-ngx-editor height="129px" minHieght="50px" [placeholder]="'Shipping Information'" [spellcheck]="true"  [(ngModel)]="offer.shipping_information"  #shipping_information="ngModel" name="shipping_information"></app-ngx-editor>
        </div>
      </div>
      
      <div class="save mt15" [ngClass]="{loading: savingData}">
        <button mat-button class="mb0"  [disabled]="savingData" >SAVE</button>
      </div>
    </form>
  </div>
</div>