<div class="gift-box">
  <div class="gift-heading">
    <p>USER DETAILS</p>
    <div class="close-icon">
      <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
    </div>
  </div>
  
  <div class="gift-body">
    <div class="css-table ">
      <div class="sticky-header bo-non">
        <div class="header">
          <table>

            <tr>

              <th class="w50"></th>
              <th class="w200">Date Created</th>
              <th class="w150" >Scan Date</th>
              <th>Coupon</th>
              <th class="w135">Points</th>
            </tr>
          </table>
        </div>
      
      </div>

      <div class="table-container bg-color">
        <div class="table-body">
          <table>
            <tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr>
            <tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr><tr>

              <td class="w50">1</td>
              <td class="w200" >12 Sep 2018</td>
              <td class="w150">12 Sep 2018</td>
              <td>XYZ9884</td>
              <td class=" w135">25</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>