<div class="loader" *ngIf = "loading_list">
  <div class="loding-logo">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="main-container pr0 ppl0">
  <div class="fixed">
    <div class="middle-container">
      <div class="tabs-list">
        <h1>Master</h1>
      </div>
    </div>
  </div>
  <div class="container-outer tab-container pb15">
    <div class="master-tab">
      <ul>
        <!-- <li routerLink="/productcategory-list" routerLinkActive="active"><a>Product Category</a></li>
        <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li> -->
        <!-- <li routerLink="/demo-karigar-list" routerLinkActive="active"><a>Demo Karigar</a></li> -->
        <!-- <li routerLink="/news-list" routerLinkActive="active"><a>News</a></li> -->
        <li routerLink="/digitallist" routerLinkActive="active"><a>Digital Catalogue</a></li>
    <li routerLink="/coupon-code-master" routerLinkActive="active"><a>Brand Point Master</a></li>
        <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li>
        <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
        <li routerLink="/daily-coupon-access" routerLinkActive="active"><a>Daily Coupon Access</a></li>
        <li routerLink="/company-profile" routerLinkActive="active"><a>Company Profile</a></li>
        <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
        <li routerLink="/app-banner-list" routerLinkActive="active"><a>App Banner</a></li>
        <li routerLink="/gifts" routerLinkActive="active"><a>Master Gift</a></li>
        <li routerLink="/system-user-list" routerLinkActive="active"><a>System User</a></li>
      </ul>
    </div>

    <div class="sprate-box mt10">
      <div class="full-offer">
        <div class="top-heading">
          <h2>EDIT COMPANY PROFILE <br> <span class="up-date">(Last update date {{profile.date_created | date: 'dd MMM yyyy'}})</span></h2>
        </div>
      </div>
      <div class="row mt15">
        
        <div class="col s3">
          <div class="edit-picture">
            <label class="img_clr">
              <input type="file" (change)="onUploadChange1($event)" style="display:none;" accept=".png, .jpg, .jpeg" required />
              <img  [src]="profile.profile_banner" alt="" id="img">
              <i class="material-icons add-file-icon" matRipple >create</i>
            </label>
          </div>
        </div>
        <div class="col s9">
          <div class="option-field">
            <div class="row mb0">
              <div class="col s12">
                <div class="control-field">
                  <app-ngx-editor height="180px"  [placeholder]="'About Us '" [spellcheck]="true"  [(ngModel)]="profile.about"  #description="ngModel" name="about"></app-ngx-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row">           
        <div class="col s12">
          <div class="save text-right" >
            <button class="mb0" mat-button  (click)="saveloyality()" >SAVE</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  
</div>