<div class="loader" *ngIf = "loading_list">
    <div class="loding-logo">
        <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="main-container ">
    <div class="sticky-header">
      <div class="middle-container">
          <div class="tabs-list">
              <h1>Master</h1>
  
              <div class="ml10" *ngIf="!(!filtering && gift.length == 0 ) ">
                  <button mat-button (click)="orderListReverse()">
                      <i class="material-icons" > swap_vert</i>
                      Sort
                  </button>
              </div>
              <!-- <div class="gift-tab">
                  <ul>
                      <li>
                          <p>Gift : <span>{{ total_gift }}</span></p>
                      </li>
                      
                      <li *ngIf="!(!filtering && gift.length == 0 ) ">
                          <button mat-button (click)="orderListReverse()">
                              <i class="material-icons" > swap_vert</i>
                              Sort
                          </button>
                      </li>
                  </ul>
              </div> -->
          </div>
  
          <div class="left-auto">
              <div class="refresh-btn">
                  <a mat-button matTooltip="Refresh" matTooltipPosition="below" (click)="getGiftList('refresh')"><i class="material-icons">refresh</i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="container-outer tab-container">
    <app-master-tab></app-master-tab>
  
      <!-- <div class="fixed"> -->
      <div>
       
        <div class="css-table" >
            <div class="sticky-header">
                <div class="header">
                    <table >
                        <tr>
                            <th class="w30">&nbsp;</th>
                            <th class="w200">Date / Created by</th>
                            <th class="w150" >Title</th>
                            <th class="w60 text-center">Image</th>
                            <th class="w60 text-center">Points</th>
                            <th>Specification</th>              
                            <th class="w80 text-center ">Action</th>              
                        </tr>
                    </table>
                </div>
                <div class="header border-bott">
                    <table>
                        <tr>
                            <th class="w30">&nbsp;</th>
                            <!-- <th class="w200">
                                <div class="date-form">
                                    <i *ngIf="filter.date_created" class="material-icons" (click)="filter.date_created = '';getGiftList('') ">clear</i>
                                    <mat-form-field >
                                        <input placeholder="Date" [(ngModel)]="filter.date_created"  name="date_created" (click)="openDatePicker(picker3)" matInput (dateChange)="getGiftList('')" [matDatepicker]="picker3" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </th>   -->


                            <th class="w200">
                                <div class="date-form">
                                    <i *ngIf="filter.date" class="material-icons" (click)="filter.date = '';getGiftList('') ">clear</i>
                                    <mat-form-field >
                                        <input placeholder="Date" [(ngModel)]="filter.date"  name="date" (click)="openDatePicker(picker3)" matInput (dateChange)="getGiftList('')" [matDatepicker]="picker3" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </th>  


                            <th class="w150" >
                                <div class="search-form">
                                    <input type="text" placeholder="Title" [(ngModel)]="filter.gift_title"  (keyup.enter)="current_page = 1;getGiftList('')">
                                    <i class="material-icons">search</i>
                                </div>
                            </th>
                            <th class="w60"></th>
                            <th class="w60"></th>
                            <th></th>              
                            <th class="w80"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="css-table" *ngIf="gift.length">
        <div class="table-container">
            <div class="table-body">
                <table>
                    <tr class="arject" *ngFor="let val of gift; let i = index">
                        <td class="w30 text-center">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
                        <td class="w200"><ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' "> {{val.date_created | date: 'dd MMM yyyy'}}</ng-container> / {{val.username}}</td>
                      
                        <td class="w150">{{val.gift_title  | titlecase }} #{{val.id}}</td>
                        <td class="w60">
                            <div class="image-thum">
                                <div class="image-thum" *ngIf="val.image!=''">
                                    <img [src]="uploadUrl+val.image" (click)="openDialog(uploadUrl+val.image)">
                                </div>
  
                                <!-- <div class="image-thum" *ngIf="val.gift_image==''">
                                    <img [src]="val.image" (click)="openDialog(val.image,'base64')">
                                </div> -->
                            </div>
                        </td>
                        <td class="w60 text-center"><strong>{{val.coupon_points}}</strong></td>
                        <td>
                            <ng-container *ngIf="val.gift_specification">
                                <span [innerHTML]="val.gift_specification"></span>
                            </ng-container>
                        </td>
                        <td class="w80 text-center">
                            <div class="td-flex jc">
                              <button class="right" (click)="editGift(val.id)">
                                  <i class="material-icons">edit</i>
                              </button>
                              <button class="cancel"(click)="deactiveStatus(val.id)">
                                  <i class="material-icons">delete_sweep</i>
                              </button>
                          </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container-outer">
     
        <div class="date-not" *ngIf="!loading_list && (filtering && gift.length == 0 )">
            <div class="no-img">
                <img src="assets/result-not-found.png"> 
            </div>
        </div>
        <div class="date-not"  *ngIf="!loading_list && (!filtering && gift.length == 0 ) ">
            <div class="no-img">
                <img src="assets/not-available.jpg"> 
            </div>
            
        </div>
    </div> 
  
    <div class="fab-btns">
      <button mat-fab color="primary" routerLink="/add-gift">
          <mat-icon>add</mat-icon>
      </button>
  </div>
        
    </div>
    