<div class="gift-box">
  <div class="gift-heading">
    <p>Change Status</p>
    <div class="close-icon">
      <button mat-button mat-dialog-close ><i class="material-icons">clear</i></button>
    </div>
  </div>
  
  <div class="trans pt15">   
    <form name="offer" (ngSubmit)="f.form.valid && addoffer() " #f="ngForm" novalidate autocomplete="off">
      <div class="form-area">
        <div class="slect none-bo mr0">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select class="offer.gift_status" placeholder="Status" [(ngModel)] = "offer.gift_status" #gift_status="ngModel" name="gift_status" required (ngModelChange)="Remove()">
                <mat-option value ="Pending" class="Pending">Pending</mat-option>
                <mat-option value ="Reject" class="Reject">Reject</mat-option>
                <mat-option value ="Approved" class="Approved">Approved</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="form-area" *ngIf="offer.gift_status == 'Approved' ">
        <div class="slect none-bo mr0">
          <mat-form-field>
            <mat-label> Received Status</mat-label>
            <mat-select class="offer.receive_status"  [(ngModel)] = "offer.receive_status" #receive_status="ngModel" name="receive_status" >
              <option  value="">---</option>
              <option  value="Shipped" class="Shipped">Shipped</option>
              </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <div class="control-field"  *ngIf="offer.gift_status == 'Approved'   ">
        <select class="bt-5"  name="receive_status" placeholder="Status" [(ngModel)]="offer.receive_status" (change)="shippedDetail()"  >
          <option  value="">---</option>
          <option  value="Shipped" class="Shipped">Shipped</option>
        </select> 

        
      </div>
      
      <div class="option-field" *ngIf="offer.gift_status == 'Reject'">
        <div class="control-field">
          <mat-form-field  class="cs-input">
            <textarea matInput placeholder="Description" class="h106" name="desc" [(ngModel)] = "offer.desc" #desc="ngModel" ></textarea>
          </mat-form-field>
        </div>
      </div>
      
      <div class="save mt15" [ngClass]="{loading: savingData}">
        <button mat-button class="mb0"  [disabled]="savingData" >SAVE</button>
      </div>
    </form>
  </div>
</div>