<div class="loader" *ngIf = "loading_list">
  <div class="loding-logo">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="main-container" >
  <div class="offer-container">
    <div class="row">
      <div class="col s12 padding0">
        <div class="sprate-box">
          <div class="full-offer">
            <div class="top-heading no-justify">
              <a class="back-btn" routerLink="/redeem-request-list" ><i class="material-icons">arrow_back</i></a>
              <h2> REDEEM PLUMBER DETAIL</h2>
              <!-- <h2 *ngIf="getData.user_type == 2">Architect DETAIL</h2> -->
              <!-- <a class="blue"  *ngIf="getData.receive_status == ''  &&  getData.gift_status != 'Reject'" (click)="changeStatus(getData.id)">Status</a> -->
            </div>
            
            <div class="detail-info">
              <div class="img-box">
                <img [src]="uploadUrl + getData.profile" (click)="openDialog(uploadUrl + getData.profile)">
              </div>
              
              <div class="basic-details">
                <div class="profile-info">
                  <ul>
                    <li>
                      <figure>
                        <div class="left-img">
                          <img src="assets/icon-dealer.svg">
                        </div>
                        <div class="right-cont">
                          <p>Name</p>
                          <span>{{getData.first_name}} {{getData.last_name}}</span>
                        </div>
                      </figure>
                    </li>
                    <li>
                      
                      <figure>
                        <div class="left-img">
                          <img src="assets/contact.svg">
                        </div>
                        <div class="right-cont">
                          <p>Mobile No.</p>
                          <span>{{getData.mobile_no}}</span>
                        </div>
                      </figure>
                      
                    </li>
                    
                    <li>
                      <figure>
                        <div class="left-img">
                          <img src="assets/calendar.svg">
                        </div>
                        <div class="right-cont">
                          <p>Date of Birth</p>
                          <span>{{getData.dob | date:'dd MMM yyyy'}}</span>
                        </div>
                      </figure>
                      
                    </li>
                    
                  </ul>
                  <ul>
                    <li>
                      <figure>
                        <div class="left-img">
                          <img src="assets/book.svg">
                        </div>
                        <div class="right-cont">
                          <p>Address</p>
                          <span>{{getData.address}} {{getData.statte}} {{getData.district}} {{getData.city}} {{getData.pincode}}</span>
                          
                        </div>
                      </figure>
                      
                    </li>
                  </ul>
                </div>
                <div class="traking">
                  <div class="traking-header">
                    <ul>
                      
                      <li [ngClass]="{'check': getData.date_created != '' }">
                        <span>1</span>
                        <div class="traking-con">
                          <p>Redeem Request</p>
                          <p>{{getData.date_created | date:'d MMM y'}}</p>
                        </div>
                      </li>
                      
                      <li [ngClass]="{'check': (getData.gift_status=='Pending' || getData.gift_status=='Approved'  ) , 'reject' : getData.gift_status=='Reject' }">
                        
                        <span>2</span>
                        
                        <div class="traking-con">
                          <p>{{getData.gift_status}}</p>
                          <p *ngIf="getData.gift_status == 'Pending' && getData.gift_status_date_pending != '0000-00-00' ">{{getData.gift_status_date_pending | date:'d MMM y'}}</p>
                          <p *ngIf="getData.gift_status == 'Approved' && getData.gift_status_date_approved != '0000-00-00'">{{getData.gift_status_date_approved | date:'d MMM y'}}</p>
                          <p *ngIf="getData.gift_status == 'Reject' && getData.gift_status_date_reject != '0000-00-00'">{{getData.gift_status_date_reject | date:'d MMM y'}}</p>
                        </div>
                      </li>
                      
                      <li [ngClass]="{'check': ( getData.receive_status == 'Transfer' || getData.receive_status == 'Shipped' || getData.receive_status == 'Received' ) }">
                        <div class="traking-list">
                          <span>
                            <span>3</span>
                          </span>
                        </div>
                        
                        <div class="traking-con" *ngIf="getData.payment_type != 'Gift'">
                          <p>Points Transfer</p>
                          <p *ngIf="getData.shipped_date != '0000-00-00'">{{getData.shipped_date | date:'d MMM y'}}</p>
                        </div>
                        
                        <div class="traking-con" *ngIf="getData.payment_type == 'Gift'">
                          <p>Shipped</p>
                          <p *ngIf="getData.shipped_date != '0000-00-00'">{{getData.shipped_date | date:'d MMM y'}}</p>
                        </div>
                      </li>
                      
                      <li [ngClass]="{'check': getData.receive_status == 'Received' }">
                        <div class="traking-list">
                          <span>4</span>
                        </div>
                        <div class="traking-con">
                          <p>Received</p>
                          <p *ngIf="getData.received_date != '0000-00-00'">{{getData.received_date | date:'d MMM y'}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col s6" *ngIf="getData.user_type=='1'">
        <div class="sprate-box gift-offer mb15" >
          <div class="full-offer">
            <div class="top-heading">
              <h2> DEALER DETAIL</h2>
            </div>
            <div class="detail-info pl0 pr0">
              
              <div class="basic-details">
                <div class="profile-info">
                  <ul>
                    <li>
                      <p>Counter Name</p>
                      <span>{{!getData.parent_counter_name?'N/A':getData.parent_counter_name | titlecase }}</span>
                    </li>
                    
                    <li>
                      <p>Contact Person</p>
                      <span>{{!getData.parent_counter_contact_person? 'N/A' : getData.parent_counter_contact_person| titlecase}}</span>
                    </li>
                    <li>
                      <p>Mobile No.</p>
                      <span>{{!getData.parent_counter_mobile ? 'N/A' : getData.parent_counter_mobile}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
      </div>
      <div class="col s6">
        <div class="sprate-box gift-offer ">
          <div class="full-offer">
            <div class="top-heading">
              <h2>DOCUMENT DETAIL</h2>
            </div>
            <div class="detail-info pl0 pr0">
              <div class="img-box">
                <img [src]="uploadUrl + getData.document_image" (click)="openDialog(uploadUrl + getData.document_image)">
              </div>
              <div class="basic-details">
                <div class="profile-info">
                  <ul>
                    <li>
                      <p>Document Type</p>
                      <span>{{!getData.document_type ? 'N/A' : getData.document_type}}</span>
                    </li>
                    
                    <li>
                      <p>Document Number</p>
                      <span>{{!getData.document_no ? 'N/A' : getData.document_no}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" *ngIf="getData.redeem_type != 'Cash'">
      
      <div class="col s6">
        <div class="sprate-box gift-offer ">
          <div class="full-offer">
            <div class="top-heading">
              <h2>OffER DETAIL</h2>
            </div>
            <div class="row mb0">
              <div class="off">
                <div class="col s3 padding0">
                  <div class="territory-infos ">
                    <div class="cs-checkboxs">
                      <div class="checkbox-outers">
                        <img [src]="uploadUrl + getData.offer_banner" (click)="openDialog(uploadUrl + getData.offer_banner)">
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="col s9 padding0">
                  <div class="option-field">
                    <div class="row border-bottom">
                      <div class="col s6">
                        <div class="detail-field">
                          <p>Title</p>
                          <span>{{getData.gift_title}}</span>
                        </div>
                      </div>
                      <div class="col s6">
                        <div class="detail-field">
                          <p>Offer Code</p>
                          <span>{{getData.offer_code}}</span>
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="row mb0 ">
                      <div class="col s4">
                        <div class="detail-field">
                          <p>Start Date</p>
                          <span>{{getData.start_date  | date:'dd MMM yyyy' }}</span>
                        </div>
                      </div>
                      
                      <div class="col s4 padding0">
                        <div class="detail-field">
                          <p>End Date</p>
                          <span>{{getData.end_date  | date:'dd MMM yyyy' }}</span>
                        </div>
                      </div>
                      
                      <div class="col s4 padding0">
                        <div class="detail-field">
                          <p>Status</p>
                          <span class="{{getData.offer_status}}">{{getData.offer_status}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row mb0 " *ngIf="getData.description">
                      <div class="col s12">
                        <div class="detail-field">
                          <p>Description</p>
                          <span [innerHTML]="getData.description"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="col s6">
        <div class="sprate-box gift-offer">
          <div class="full-offer">
            <div class="top-heading">
              <h2>GIFT DETAIL</h2>
            </div>
            <div class="row mb0">
              <div class="off">
                <div class="col s3 padding0">
                  <div class="territory-infos ">
                    <div class="cs-checkboxs">
                      <div class="checkbox-outers">
                        <img [src]="uploadUrl + getData.gift_image" (click)="openDialog(uploadUrl + getData.gift_image)">
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="col s9 padding0">
                  <div class="option-field">
                    <div class="row border-bottom">
                      <div class="col s4">
                        <div class="detail-field">
                          <p>Title</p>
                          <span>{{getData.gift_title}}</span>
                        </div>
                      </div>
                      <div class="row mb0 ">
                        <div class="col s4">
                          <div class="detail-field">
                            <p> Type</p>
                            <span>{{getData.redeem_type}}</span>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="row mb0 ">
                        <div class="col s4">
                          <div class="detail-field">
                            <p> Date</p>
                            <span>{{getData.gift_date  | date:'dd MMM yyyy'}}</span>
                          </div>
                        </div>
                        
                        <div class="col s4 padding0">
                          <div class="detail-field">
                            <p>Created By</p>
                            <span>{{getData.gift_created}}</span>
                          </div>
                        </div>
                        
                        <div class="col s4 padding0">
                          <div class="detail-field status dark-red">
                            <div class="points">
                              <span>{{getData.coupon_points}}</span>
                              <p>Points</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s6">
        
        <div class="sprate-box gift-offer mt15">
          <div class="full-offer">
            <div class="top-heading">
              <h2>REDEEM REQUEST DETAIL</h2>
            </div>
            <div class="detail-info pl0 pr0">
              
              <div class="basic-details">
                <div class="profile-info">
                  <ul>
                    <li>
                      <p>Date</p>
                      <span>{{getData.date_created | date : 'dd MMM yyyy'}}</span>
                    </li>
                    
                    <li>
                      <p>Points Request</p>
                      <span>{{!getData.gift_points? 'N/A' : getData.gift_points}}</span>
                    </li>
                    <li>
                      <p>Points Request Type</p>
                      <span>{{!getData.payment_type ? 'N/A' : getData.payment_type}}</span>
                    </li>
                  </ul>
                  <ul>
                    
                    <li *ngIf="getData.payment_type != 'Gift'">
                      <p>Points Transfer Mobile No.</p>
                      <span>{{!getData.payment_number ? 'N/A' : getData.payment_number}}</span>
                    </li>
                    <li *ngIf="getData.payment_type == 'Gift'">
                      <p>Shipping Address</p>
                      <span>{{getData.shipping_address}}</span>
                    </li>
                    <li>
                      <p>Redeem Status</p>
                      <span class="{{getData.gift_status}}">{{!getData.gift_status ? 'N/A' : getData.gift_status}}</span>
                    </li>
                    <li>
                      <p>Gift Points Status</p>
                      <span class="{{getData.receive_status}}">{{!getData.receive_status ? 'N/A' : getData.receive_status}}</span>
                    </li>
                    
                  </ul>
                  <ul>
                    <li *ngIf="getData.estimated_date != null">
                      <p>Gift Points Transfer Date</p>
                      <span>{{getData.estimated_date | date : 'dd MMM yyyy'}}</span>
                    </li>
                    <li  *ngIf="getData.receive_remark && getData.receive_status=='Received'">
                      <p>Receiving Date</p>
                      <span>{{getData.received_date | date : 'dd MMM yyyy'}}</span>
                    </li>
                    <li  *ngIf="getData.receive_remark && getData.receive_status=='Received'">
                      <p>Receiving Remark</p>
                      <span>{{getData.receive_remark}}</span>
                    </li>
                  </ul>
                  <ul *ngIf="getData.reject_reason && getData.gift_status=='Reject' ">
                    <li>
                      <p>Reject Of Reason</p>
                      <span>{{getData.reject_reason}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>