<div class="gift-box">
    <div class="gift-heading" style="padding: 12px 10px;">
        <div class="export-count" style="display: inherit;">
            <p>Import Karigar Data</p>
            <h1 class="limit-note">* Maximun Limit of Data Uploading is (1000)</h1>
        </div>
        
        <div class="close-icon">
            <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
        </div>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>
    
    <div class="modal-body pt0">
        <div class="row mb0">
            <div class="col s12">
                <div class="file-import">
                    <div class="border-erea file-border">
                        <label>
                            <input type="file" name="coupon" style="display: none;" (change)="select($event)" accept=".csv">
                            <i class="material-icons">backup</i>
                            <h4>{{name ? name : 'Upload'}}</h4>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button class="excel-download" (click)="download()">
                <img src="assets/excel1.svg">    
                Download excel Format
            </button>
            <button mat-raised-button color="primary" (click)="upload_excel()" [disabled]="!name">Upload</button>
        </div>
    </div>
</div>