<div class="main-container" >
    <div class="dashboard">
        <div class="bg-counter">
            <ul>
                <li matRipple style="background: #2e7d32;" (click)="goto_offerPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/offer.svg"></div>
                        <p>{{offer}}</p>
                    </div>
                    <div class="counter-name">Offers</div>
                </li>
                
                <li matRipple style="background: #e65100;" (click)="goto_pending_redeem_rqs_page()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/redeem.svg"></div>
                        <p>{{pending_redeem_request}}</p>
                    </div>
                    <div class="counter-name">Redeem Request</div>
                </li>



              
                <li matRipple style="background: #f50057;" (click)="goto_balance_coupon_page()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/qr_code.svg"></div>
                        <p>{{total_coupon_value}}</p>
                    </div>
                    <div class="counter-name">Total Coupon</div>
                </li>
                
                <li matRipple style="background: #dbb408;" (click)="goto_balance_coupon_page()">
                    <div class="top-item">
                        <h2>Coupon Value</h2>
                        <span class="flat">{{total_coupon_amount}}</span>
                    </div>
                    <div class="bottom-item">
                        <div class="cs-item">
                            <span>{{coupon_amount_scan_by_karigar}}</span>
                            <p>Plumber Scan</p>
                        </div>
                        <div class="cs-item">
                            <span>{{pending_couopn_amount}}</span>
                            <p>Balance</p>
                        </div>
                    </div>
                </li>

                <li matRipple style="background: #00b1ff;" (click)="goto_karigarsPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/handyman.svg"></div>
                        <p>{{user_karigar}}</p>
                    </div>
                    <div class="counter-name">Plumber</div>
                </li>

                <li matRipple style="background: #3949ab;" (click)="goto_offergiftPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/pop&gift.svg"></div>
                        <p>{{offer_gift}}</p>
                    </div>
                    <div class="counter-name">Gift Gallery</div>
                </li>



                <!-- <li matRipple style="background: #8a2000;" (click)="goto_productPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/product.svg"></div>
                        <p>{{products}}</p>
                    </div>
                    <div class="counter-name">Product</div>
                </li> -->
                <!-- <li matRipple style="background: #665c5a;" (click)="goto_feedbackPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img class="h30" src="assets/img/dashboard/messages.svg"></div>
                        <p>{{unread_counts}}</p>
                    </div>
                    <div class="counter-name">Total Unread Message</div>
                </li> -->
            </ul>
        </div>
        
        <div class="row mb15">
            <div class="col s6">
                <div class="pie-chart">
                    <div class="chart-header">
                        <p>State Wise Plumber</p>
                    </div>
                    <div class="graph">
                        <fusioncharts
                        width="100%"
                        height="300"
                        type="pie3d"
                        [dataSource]=karigar_Source >
                    </fusioncharts>
                </div>
            </div>
        </div>



        <div class="col s6">
            <div class="pie-chart">
                <div class="chart-header">
                    <p>Last 7 Day's Wise Plumber Scan Codes</p>
                    <div class="sm-tab">
                        <!-- <a class="" [ngClass]="{'active': show_karigar_graph == true}" (click)="showKarigarGraph()" mat-button>Plumber</a>
                        <a class="" [ngClass]="{'active': show_dealer_graph == true}" (click)="showDealerGraph()" mat-button>Architect</a> -->
                        <!-- <a class="" mat-button>Distributor</a> -->
                    </div>
                </div>
                <div class="chart" *ngIf="show_karigar_graph">
                    <fusioncharts
                    type="spline"
                    width="100%"
                    height="350"
                    [dataSource]="karigar_Source">
                </fusioncharts>
            </div>
            <div class="chart" *ngIf="show_dealer_graph">
                <fusioncharts
                type="spline"
                width="100%"
                height="350"
                [dataSource]="dealer_Source">
            </fusioncharts>
        </div>
    </div>
    </div>



        <!-- <div class="col s6 ">
            <div class="pie-chart">
                <div class="chart-header">
                    <p>State Wise Architect</p>
                </div>
                <div class="graph">
                    <fusioncharts
                    width="100%"
                    height="300"
                    type="pie3d"
                    [dataSource]=dealer_Source >
                </fusioncharts>
            </div>
        </div>
    </div> -->






    <!-- <div class="col s4  $theme">
        <div class="pie-chart">
            <div class="chart-header">
                <p>State Wise Distributor</p>
            </div>
            <div class="graph">
                <fusioncharts
                width="100%"
                height="300"
                type="pie3d"
                [dataSource]=distributor_Source >
            </fusioncharts>
        </div>
    </div>
</div> -->


<!-- <div class="col s8">
    <div class="pie-chart">
        <div class="chart-header">
            <p>Coupon Code Graph Used As Availble</p>
        </div>
        <div class="chart">
            <fusioncharts type="mscolumn2d" height="350" width="100%" [dataSource]="dataSource">
            </fusioncharts>
        </div>
    </div>
</div> -->
</div>

<div class="row mb15">
    <div class="col s6">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Offer Balance Day's</p>
            </div>
            <div class="cs-table scroll-335">
                <table>
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th>Offer</th>
                                        <th class="w80 text-center">Day's</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table>
                                    <tr *ngFor="let data of offer_balance_days">
                                        <td>{{data.title | titlecase}}  #{{data.id}}</td>
                                        <td class="w80 day">{{data.balance_days}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col s6  ">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Super 30 </p>
                
                <div class="sm-tab">
                    <!-- <a class="" [ngClass]="{'active': showKarigarList == true}"  (click)="showKarigar()" mat-button></a> -->
                    <!-- <a class="" [ngClass]="{'active': showDealersList == true}" (click)="showDealers()" mat-button>Architect</a> -->
                    <!-- <a class="" mat-button>Distributor</a> -->
                </div>
            </div>
            <div class="cs-table scroll-335">
                <table>
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th class="w200">State</th>
                                        <th class="w90 text-center">Balance Points</th>
                                        <th class="w90 text-center">Gift Eligible</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table *ngIf="showKarigarList">
                                    
                                    <tr *ngFor="let data of super_karigars">
                                        <td>{{data.first_name | titlecase}}</td>
                                        <td class="w200">{{data.state}}</td>
                                        <td class="w90 point">{{data.balance_point}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                </table>
                                <table *ngIf="showDealersList">
                                    <tr *ngFor="let data of super_dealers">
                                        <td>{{data.first_name | titlecase}}</td>
                                        <td class="w200">{{data.state}}</td>
                                        <td class="w90 point">{{data.balance_point}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    
   



</div>

<div class="row mb15">
   <div class="col s6  ">
        <div class="pie-chart">
            <div class="chart-header">
                <p>{{karigar_anni_graph == true ? 'Plumber':'Architect'}} Anniversary Upcoming 7 Day's </p>


                <div class="sm-tab">
                    <!-- <a class="" [ngClass]="{'active': karigar_anni_graph == true}"  (click)="KarigarAnniGraph()" mat-button></a> -->
                    <!-- <a class="" [ngClass]="{'active': dealer_anni_graph == true}" (click)="DealerAnniGraph()" mat-button>Architect</a> -->
                </div>
            </div>
            <div class="cs-table scroll-335">
                <table *ngIf="aniversary.length">
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th class="w50">S.No.</th>
                                        <th>Name</th>
                                        <th class="w110 text-center">Mobile Number</th>
                                        <th class="w90 text-center">D.O.A</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table *ngIf="karigar_anni_graph" >
                                    <tr *ngFor="let data of aniversary; let i= index;">
                                        <td class="w50">{{i+1}}</td>
                                        <td>{{data.full_name}}</td>
                                        <td class="w110">{{data.mobile_no}}</td>
                                        <td class="w90"><strong>{{data.doa | date: 'dd MMM yyyy'}}</strong></td>
                                    </tr>
                                </table>
                                <table *ngIf="dealer_anni_graph">
                                    <tr *ngFor="let data of aniversary; let i= index;">
                                        <td class="w50">{{i+1}}</td>
                                        <td>{{data.full_name}}</td>
                                        <td class="w110">{{data.mobile_no}}</td>
                                        <td class="w90"><strong>{{data.doa | date: 'dd MMM yyyy'}}</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="no-data" *ngIf="aniversary.length == [];">
                    <h2>Data Not Available</h2>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="col s6">
        <div class="pie-chart">
            <div class="chart-header">
                <p> {{karigar_birth_graph == true ? 'Plumber':'Architect'}} Birthday Upcoming 7 Day's </p>

                <div class="sm-tab">
                    <!-- <a class="" [ngClass]="{'active': karigar_birth_graph == true}"  (click)="KarigarBirthGraph()" mat-button>Plumber</a> -->
                    <!-- <a class="" [ngClass]="{'active': dealer_birth_graph == true}" (click)="DealerBirthGraph()" mat-button>Architect</a> -->
                </div>
            </div>
            <div class="cs-table scroll-335">
                <table *ngIf="birthday.length">
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th class="w50">S.No.</th>
                                        <th>Name</th>
                                        <th class="w110  text-center">Mobile Number</th>
                                        <th class="w90 text-center">D.O.B</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table *ngIf="karigar_birth_graph">
                                    <tr *ngFor="let data of birthday; let i= index;">
                                        <td class="w50">{{i+1}}</td>
                                        <td>{{data.full_name}}</td>
                                        <td class="w110 ">{{data.mobile_no}}</td>
                                        <td class="w90">
                                            <strong>{{data.dob | date: 'dd MMM yyyy'}}</strong>
                                        </td>
                                    </tr>
                                </table>
                                <table *ngIf="dealer_birth_graph">
                                    <tr *ngFor="let data of birthday; let i= index;">
                                        <td class="w50">{{i+1}}</td>
                                        <td>{{data.full_name}}</td>
                                        <td class="w110 ">{{data.mobile_no}}</td>
                                        <td class="w90">
                                            <strong>{{data.dob | date: 'dd MMM yyyy'}}</strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="no-data"  *ngIf="birthday.length == [];">
                    <h2>Data Not Available</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>