<div class="loader" *ngIf = "loading_list">
    <div class="loding-logo">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div class="main-container ">
    <div class="fixed">
        <div class="middle-container">
            <div class="tabs-list">
                <h1>Master</h1>
            </div>
        </div>
    </div>
    <div class="container-outer tab-container pb15">
        <div class="master-tab">
            <ul>
                <!-- <li routerLink="/productcategory-list" routerLinkActive="active"><a>Product Category</a></li>
                <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li> -->
                <!-- <li routerLink="/demo-karigar-list" routerLinkActive="active"><a>Demo Karigar</a></li> -->
                <!-- <li routerLink="/news-list" routerLinkActive="active"><a>News</a></li> -->
                <li routerLink="/digitallist" routerLinkActive="active"><a>Digital Catalogue</a></li>
                <li routerLink="/coupon-code-master" routerLinkActive="active"><a>Brand Point Master</a></li>
                <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li>
                <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
                <!-- <li routerLink="/sales-executive-list" routerLinkActive="active"><a>Sales Executive</a></li> -->
                <!-- <li routerLink="/distributor-list" routerLinkActive="active"><a>Distributor</a></li> -->
                <!-- <li routerLink="/karigar-data" routerLinkActive="active"><a>Karigar Data</a></li> -->
                <li routerLink="/daily-coupon-access" routerLinkActive="active"><a>Daily Coupon Access</a></li>
                <li routerLink="/company-profile" routerLinkActive="active"><a>Company Profile</a></li>
                <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
                <li routerLink="/app-banner-list" routerLinkActive="active"><a>App Banner</a></li>
                 <li routerLink="/gifts" routerLinkActive="active"><a>Master Gift</a></li>
                 <li routerLink="/system-user-list" routerLinkActive="active"><a>System User</a></li>


                <!-- <li routerLink="/message-history" routerLinkActive="active"><a>Message History</a></li> -->
                <!-- <li routerLink="/notification-history" routerLinkActive="active"><a>Notification History</a></li> -->
            </ul>
        </div>
        <div class="sprate-box mt10">
            <div class="full-offer">
                <div class="top-heading">
                    <h2>UPDATE DAILY COUPON ACCESS..
                        <br>
                        <span class="up-date">(Last update date {{loyaliti.date_created | date: 'dd MMM yyyy'}})</span>
                    </h2>
                    <p>Indicates required fields ( * )</p>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="option-field">
                        <div class="row mb0">
                            <div class="col s12">
                                <div class="control-field">
                                    <mat-form-field class="cs-input">
                                        <input matInput placeholder="Access Limit" (keypress)="numeric_Number($event)" [(ngModel)]="loyaliti.limit" >
                                    </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 ">
                    <div class="save text-right " (click)="saveloyality()" >
                        <button class="mb0" mat-button  >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>